html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mis css */

/*header*/

.header {
    position: fixed;
}

.header a {
    display: flex;
    gap: 10px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    filter: invert(1);
    align-items: center;
    
}

.header h2 {
    font-size: 15px;
}

.header img {
    width: 30px;
}

.main {
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
}


/* Section*/
section {
    width: 50%;
    height: 50vh;
}

.listcontainer, .clockweather, .password-container {
    display: flex;
}

.listcontainer {
    display: flex;
    justify-content: center;
}

.clockweather, .password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerpassword {
    display: flex;
    justify-content: center;
   
}

/* links index*/

.linkcontainer {
    display: flex;
    flex-direction: column;
    margin-top: 95px;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    height: 700px;
}

.linkcontainer h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.linkcontainer img {
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    
}

.inputContainer {
    display: flex;
    flex-direction: column; 
    padding: 0;
    max-width: 400px;
    color: #f4f4f4;
    border-radius: 15px;
    line-height: 16px;

}

#nombre {
    padding: 10px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    width: 380px;
    height: 20px;
    background-color: blue;
    color: #f4f4f4;
    margin-left: auto;
    margin-right: auto;
    
}

#enlace {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    width: 380px;
    height: 20px;
    background-color: blue;
    color: #f4f4f4;
    margin-left: auto;
    margin-right: auto;

}

button {
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 400px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}


.ulList{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 440px;
    padding: 20px;
    gap:20px;
    text-decoration: none;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
   

}

.ulList li {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(148, 141, 141);
    position: relative;
    min-width: 100px;
    height: 50px;
    text-decoration: none;
    color: white;
   
    
    
}

.ulList li a {

    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    

}

.delete {

    
    position: relative;
    width: 15px;
    height: 15px;
    color: red;
    background-color: black;
    border: none;
    border-radius: 50%;
    font-size: 10px;
    background-color: #3333339;
   position:absolute;
   margin: left 85px;
   

}
/* reloj index*/

 .containerReloj {
 
	 text-align: center;
	 margin:auto;
	 padding: 20px;
	 background-color: #33333393;
	 border-radius: 10px;
	 width: 400px;
 }
 

 
 #time {
	 font-size: 48px;
	 font-weight: bold;
	 margin:20px 0;
	 color: white;
 }
 
 #date {
	 font-size: 24px;
	 color: white;
 }
 




/*weather index*/


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
   
}

.weathercontainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #f4f4f4;
    border-radius: 15px;
    background-color: #33333393;
    padding: 20px;
    max-width: 400px;
    width: 350px;
    height: 350px;
}

.details {
    display: flex;
    text-align: center;
    align-items: flex-start;
    color: red;

}

.details p {
    color: #ffe5c1
}

.temperatura {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    width:100%;
    margin-top:20px;
}

.temperatura img {
    width: 85px;
    height: 85px;
}

.temperatura p {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

.termometro img{
    filter: invert(1);
    width: 30px;
    height: 30px;
   
}

.precipitacion {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    
}

.precipitacion p {
    font-size: 18px;
    color:#b0b0b0

}

#list {

    display: flex;
    flex-direction: row;
}




/*contraseña index*/


.containerpassword {
    display: flex;
    background-color: blue;
    color:blue
    align-items: center;
    justify-content:center;
    max-height: 30px;
}

.containerpassword h2 {
    font-size: 20px;
}

.containerpassword img {
    width: 25px;
    height: 25px;
    margin: 20px

}
.controles {

    width: 350px;
    height: 115px;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    color: #f4f4f4;
    background-color: #33333393;
    border-radius: 15px;
}

.caracteres {
    display: flex;
    flex-direction: column;
}


/* Footer */

footer{
    background-color: aqua;
}
.nav-bar a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-bar img {
    width: 30px;
    transition: transform 0.2s;
    filter: invert(100%);
    background:none;
}

.nav-bar a:hover img {
    gap:10px;
    transform: scale(1.2);
    text-decoration: underline;
}

