html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mis css */

/*main*/

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100vh;
    background-color: aqua;
}

.seccion1 {
    width: 46%;
    height: 85vh;
}

.seccion2 {
    width: 30%;
}





/* links index*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    
}

.linkcontainer {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: white;
    margin-top: 150px;
    margin-right: 60px;

}

.linkcontainer h2 {
    font-size: 30px;
   

}

.linkcontainer img {
    width: 20px;
    height: 20px;
    filter: invert(100%);

}
.inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#nombre {
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    width: 380px;
    height: 16px;
    padding: 6px;
    background-color:#f4f4f4;
    color: #909090;
    margin-top: 6px;
    
}

#enlace {
    display: flex;
    align-items: center;
    padding: 6px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    width: 380px;
    height: 16px;
    background-color: #f4f4f4;
    color: #909090;
    margin-top: 12px;
    

}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 390px;
    height: 40px;
    padding: 20px;
    background-color: #909090;
    color: white;
    font-size: 16px;
    
}
.ulList{
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 200px;
    padding: 20px;
    gap:20px;
    text-decoration: none;
    background-color: blueviolet;
}

.ulList li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #909090;
    opacity: 70%;
    position: relative;
    min-width: 100px;
    height: 50px;
    border-radius: 5px;
    text-decoration: none;
    
     
}


.ulList a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    
    
}

.delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    color: red;
    border-radius: 50%;
    font-size: 10px;
    background-color: #3333339;
    
}

/*seccion derecha(reloj,weather,contrase単a)*/


.clock-weather-password  {
    display: flex;
    flex-direction: column;
}


/* reloj index*/


 .containerReloj h1 {
    color:white;
    font-size: 36px;
    margin-top: -10px;
}

#time {
    font-size: 48px;
    font-weight: bold;
    margin:20px 0;
    color: white;
}

#date {
    font-size: 24px;
    color: white;
}

 




/*weather index*/
/*

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
   
}

.weathercontainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #f4f4f4;
    border-radius: 15px;
    background-color: #33333393;
    padding: 20px;
    max-width: 400px;
    width: 350px;
    height: 350px;
}

.details {
    display: flex;
    text-align: center;
    align-items: flex-start;
    color: red;

}

.details p {
    color: #ffe5c1
}

.temperatura {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    width:100%;
    margin-top:20px;
}

.temperatura img {
    width: 85px;
    height: 85px;
}

.temperatura p {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

.termometro img{
    filter: invert(1);
    width: 30px;
    height: 30px;
   
}

.precipitacion {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    
}

.precipitacion p {
    font-size: 18px;
    color:#b0b0b0

}

#list {

    display: flex;
    flex-direction: row;
}




/*contrase単a index*/

.password-container {

    display: flex;
    flex-direction: column;
}

.containerpassword{
    margin: 0 auto;
    background-color: brown;
    padding: 20px;
    
}
.divTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;

    
}
.divTitle h2 {
    color: white;
    
    
}
.divTitle img{
    width: 30px;
    filter: invert(100%);
}

.controles {
    background-color: #33333393; 
    padding: 20px;   
    color: white;
    border-radius: 15px;

}

.labelCaracteres{
    font-size: 20px;
    margin-right: 6px;
}

.caracteres{
    border-radius: 6px;
    padding:  4px 8px;
    border: none;
    font-size: 18px;
}

#botoncontrase単a {
    background-color: #0671d8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    margin-top: 16px;
    cursor: pointer;

}
#contrase単anueva {
    display: flex;
    color: #ffe5c1;
    font-size: 20px;
    margin-top: 16px;
}

/* Footer */

    
 .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 15px;
        width: 50%;
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 30px;
        filter: invert(100%);
        border-bottom: 1px solid black;
    
    }
    .footer img{
        width: 30px;
        height: 30px
        
    }
