<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock</title>
    <link rel="stylesheet" href="../css/clock.css">
    
</head>
<body class="bodyreloj">
  <header class="headertop">
    <a href="../../index.html"><img src = "../assets/cohete.png" alt="cohete">
     <h2>GO HOME</h2>
    </a>
  </header>
  <main>

   <section class="clockContainer">
    <div class="containerReloj">
        <h1>Son las...</h1>
        <div id="time">00:00:00</div>
        <div id="date">date</div>
        <div id="frase"></div>
    </div> 
   </section> 
  </main> 
  <footer>
    <nav class="nav-bar">
      <a href="./clock.html"><img src = "../assets/reloj.png" alt="reloj"></a>
      <a href="./links.html"><img src = "../assets/enlace.png" alt="link"></a>
      <a href="./password.html"><img src = "../assets/candado.png" alt="candado"></a>
      <a href="./weather.html"><img src = "../assets/tiempo.png" alt="nube"></a>
    </nav>
  </footer>
  <script src="../js/clock.js"></script>
  <script src="../../script.js" ></script>
</body>
</html>