<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
    <link rel="stylesheet" href="../CSS/links.css">
</head>
<body>
  <header class="headertop">
    <a href="../../index.html"><img src = "../assets/cohete.png" alt="cohete">
     <h2>GO HOME</h2>
    </a>
  </header>
  <main> 
   <section>
    <article class="container">
     <div class="linkcontainer">
     <h2>Añade tus enlaces de interés</h2>
      <img src="../assets/enlace.png" alt="enlace">
     </div>
     <div class="inputContainer"> 
      <input type="text" id="nombre" placeholder="Nombre de tu enlace" required>
      <input type="text" id="enlace" placeholder="Pega aquí la URL" required>
      <button id="guardar" class="btnguardar">Añadir enlace</button>
     </div>   
      <ul class="ulList"></ul>
    </article>  
   </section>   
  </main>
  <footer>
    <nav class="nav-bar">
      
      <a href="./clock.html"><img src = "../assets/reloj.png" alt="reloj"></a>
      <a href="./links.html"><img src = "../assets/enlace.png" alt="link"></a>
      <a href="./password.html"><img src = "../assets/candado.png" alt="candado"></a>
      <a href="./weather.html"><img src = "../assets/tiempo.png" alt="nube"></a>
    </nav>
  </footer>
  <script src="../JS/clock.js"></script>
  <script src="../../script.js" ></script>
</body>
</html>