<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Station</title>
    <link rel="stylesheet" href="../CSS/weather.css">
</head>
<body>
    <header class="headertop">
      <a href="../../index.html"><img src = "../assets/cohete.png" alt="cohete">
        <h2>GO HOME</h2>
      </a> 
    </header>
    
    <main>
     <div class="weathercontainer" id="weather">
     </div>
     <div class="forecastWeather" id="forecast"></div>
    </main>
    <footer>
      <nav class="nav-bar">
        
        <a href="./clock.html"><img src = "../assets/reloj.png" alt="reloj"></a>
        <a href="./links.html"><img src = "../assets/enlace.png" alt="link"></a>
        <a href="./password.html"><img src = "../assets/candado.png" alt="candado"></a>
        <a href="./weather.html"><img src = "../assets/tiempo.png" alt="nube"></a>
      </nav>
    </footer>
    <script src="../JS/clock.js"></script>
    <script src="../../script.js" ></script>
</body>
</html>